html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.container#heading {
  background-color: #a683e3;
  text-align: center;
}

.container#heading h1 {
  color: #fff;
  padding: 10px;
}

.container .item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.container .item:last-child {
  border-bottom: 0;
}

.item input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

.item input[type="checkbox"] {
  margin: 20px;
  cursor: pointer;
}

.item p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  color: #00204a;
  font-weight: 400;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

form.item input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

form.item input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 hsl(262, 63%, 70%);
}

form.item input::placeholder {
  color: grey;
}

form.item input:focus::placeholder {
  color: transparent;
}

form.item button {
  cursor: pointer;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: hsl(262, 63%, 70%);
  transition: transform 0.1s ease-in-out;
  color: #fff;
  font-size: 30px;
}

form.item button:hover {
  transform: scale(1.03);
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
